certifi==2023.7.22
fonttools==4.25.0
ipython-genutils==0.2.0
jupyter-client==5.3.4
jupyter-core==4.5.0
munkres==1.1.4
opencv-contrib-python==4.8.0.76
Pillow==9.4.0
ply==3.11
PyQt5-sip==12.11.0
pyzmq==19.0.2